<!DOCTYPE html>
<html>
  <head>
    <title>Salary Calculator</title>
  </head>
  <body>
    <h1>Salary Calculator</h1>
    <form method="POST" action="/">
      <label for="salary">Salary (EUR):</label><br>
      <input type="number" id="salary" name="salary" required><br>

      <label for="age">Age:</label><br>
      <input type="number" id="age" name="age" required><br>

      <label for="disability">Disability:</label><br>

      <input type="radio" id="disability" name="disability" value="0">
      <label for="disability">0</label><br>
      <input type="radio" id="disability" name="disability" value="3">
      <label for="disability">3</label><br>
      <input type="radio" id="disability" name="disability" value="2">
      <label for="disability">2</label><br>
      <input type="radio" id="disability" name="disability" value="1">
      <label for="disability">1</label><br><br>

      <input type="submit" value="Calculate">
    </form>
  </body>
</html>
